<div class="form-group mt-2">
  <% if flash[:worker_errors] || flash[:shift_errors]%>
    <div class="alert alert-danger mr-2" role="alert">
      <h5>Errors</h5>
      <p>Your form couldn't be submitted:</p>
      <hr>
      <ul>
        <% flash.each do |attr, msg| %>
          <% msg.each do |key,val | %>
            <li><%= val[0] %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% elsif flash[:success]  %>
    <div class="alert alert-success mr-2" role="alert">
      <%= flash[:success] %>
    </div>
  <% end %>
</div>